
/*nav bar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a9226c;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgb(134, 31, 76);
}


/*profile page*/
main {
    color: #fa66c9;
}

.socials {
    color: #ea5e9f;
    background-color: black;
}

.sillyfacts{
    list-style-type: none;
    text-align: left;
    padding-bottom: 20%;
}

/*personal-info*/
.personal-info {
    /* height: fit-content margin: 0; */
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    
}

/*mimi-img*/
.mimi-img {
    float: left;
}



/*table border*/
.table-border {
    float: right;
}






/*dashboard*/
*.antwoord ul li {
    display: block;
    margin-bottom: 10px;
}

.dashboard-table {
    position:fixed;
    top: 10%;
    margin-left: 25%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    border: 1px solid rgb(0, 0, 0);
    background-color: #f2a0cc;
}

th {
    background-color: #a9226c;
    color:azure;
    border: 1px solid black;
}

td {
    color:rgb(55, 28, 51)
}

/*ha logo*/
.hz-logo {
    position: fixed;
    top: 87%;
    /* Distance from the top */
    right: 0;
    /* Distance from the right */
    margin: 10;
    /* Optional: Adds space between the image and the edges */
}



/* index title page*/
.ict-about-me{
    color:#fa66c9
}